<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estado del Sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/historial">Historial</a>
    <a href="/EstadoSis">Estado del Sistema</a>
</nav>

<div class="container">

    <h1>Estado del Sistema</h1>

    <div class="estado-grid">

        <div class="estado-card">
            <h3>MQTT</h3>
            <p>{{ estado.mqtt.estado }}</p>
        </div>

        <div class="estado-card">
            <h3>Ip</h3>
            <p>{{ estado.mqtt.ip }}</p>
        </div>

        <div class="estado-card">
            <h3>Puerto</h3>
            <p>{{ estado.mqtt.puerto }}</p>
        </div>

        <div class="estado-card">
            <h3>Cámara</h3>
            <p>{{ estado.Camara.Estado }}</p>
        </div>
        <div class="estado-card">
            <h3>FLASK</h3>
            <p>{{ estado.Flask }}</p>
        </div>
        <div class="estado-card">
            <h3>Base De Datos</h3>
            <p>{{ estado.BD }}</p>
        </div>



    </div>

</div>

</body>
</html>