<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clasificador de Franquicias</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/historial">Historial</a>
    <a href="/EstadoSis">Estado del Sistema</a>
</nav>

<div class="container">

    <div class="card">

        <h1>Clasificador de Franquicias</h1>
	

	<div class="placeholder">
		Area Reservada para visualizacion de Camara
	</div>
        <p style="margin-bottom:25px;">
            Sistema IoT para clasificación automática de imágenes mediante Inteligencia Artificial.
        </p>

       <form action="/simular" method="POST" enctype="multipart/form-data">

    <input
        type="file"
        name="imagen"
        accept=".jpg,.jpeg,.png"
        required>

    <br><br>

    <button type="submit">
        Clasificar Imagen
    </button>

</form>

    </div>

</div>

</body>
</html>