<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clasificador de Franquicias</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/historial">Historial</a>
    <a href="/EstadoSis">Estado del Sistema</a>
</nav>

<div class="container">

    <div class="card">

        <h1>Clasificador de Franquicias</h1>

        <p style="margin-bottom:25px;">
            Sistema IoT para clasificación automática de imágenes mediante Inteligencia Artificial.
        </p>

        <form action="/simular">
            <button type="submit">
                Generar Clasificación
            </button>
        </form>

    </div>

</div>

</body>
</html>